{% extends 'base.html.twig' %}
{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <h1>Регистрация</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username,{
            label: 'Логин'
            }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Пароль'
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            label: 'Согласиться с условиями'
        }) }}

        <button type="submit" class="btn btn-lg btn-primary">Зарегистрироваться</button>
    {{ form_end(registrationForm) }}
{% endblock %}
