{% extends 'base.html.twig' %}

{% block title %}Мои посты{% endblock %}

{% block body %}
    <h1>Мои посты</h1>
    <div class="grid">
        {% if posts != null %}
            {% for post in posts %}
                {% if post.isDeletedAt == null %}
                    <div class="card">
                        <div class="own">
                            <div class="card-body">
                                <h4 class="card-title"><a href="{{ path('show_one_post', {'post_id': post.id }) }}" class="text_black"> {{ post.heading }}</a></h4>
                                <p class="card-text">{{ post.content|slice(0, 200) ~ '...' }}</p>
                                <a href="{{ path('delete_post', {'post_id': post.id}) }}" class="delete-button">Удалить</a>
                                <a href="{{ path('edit_post', {'post_id': post.id}) }}" class="edit-button">Изменить</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor%}
        {% endif %}
    </div>
{% endblock %}



